@media (min-width: 700px){
    #flex{
        display: flex;
    }
    #Sandwiches{
        width: 55%;
        padding: 10px;
    }
    #apps{
        width: 45%;
        padding: 10px;
    }
}

body{
    font-family: Jost;
}
#Sandwiches{
    background-color: rgb(205, 234, 235);
    padding: 10px
}

#apps{
    background-color: rgb(142, 179, 179);
    padding: 10px
}
h2{
    text-align: center;
}

p{
    font-style: italic;
}
h1 {
    text-align: center;
    font-weight: bold;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }